body {
	background-color: yellow;
}

h1 {
	color: navy;
	margin-left: 600px;
}

img {
	margin-left: 500px;
}

a {
	color: navy;
	margin-left: 650px;
}

p {
	color: navy;
	margin-left: 500px;
}